#btn1{
    -fx-font-weight:bold;
    -fx-background-color: #457b9d;
    -fx-background-radius:30;
    -fx-text-fill:white;
}
#btn1:hover{
    -fx-font-weight:bold;
    -fx-background-color:white;
    -fx-background-radius:30;
    -fx-text-fill: #457b9d;
    -fx-border-color: #457b9d;
    -fx-border-radius:30;
    -fx-border-width:2;
}
#btn1:pressed{
    -fx-font-weight:bold;
    -fx-background-color:#f1faee;
    -fx-background-radius:30;
    -fx-text-fill: #457b9d;
    -fx-border-color: #457b9d;
    -fx-border-radius:30;
    -fx-border-width:3;

}